#container
  #cake
    #flame
      #inner-flame
    .underline
  #countdown
    #cdDays
      .spacer
      #daysNum
      .label DAY(S)
    #cdHours
      .spacer
      #hoursNum
      .label HOURS
    #cdMins
      .spacer
      #minsNum
      .label MINUTES
    #cdSecs
      .spacer
      #secsNum
      .label SECONDS
    #text UNTIL MY BIRTHDAY
      